.collections-filter{
    padding: 20px 0 10px 0;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    
    h2{
        margin-left:50px ;
        
    }
    select{
     margin-left:20px ;
     padding: 7px 10px;
     border: solid 1px #b4b1b1;
     border-radius: 10px;
     outline: 0;
     background-color: #fefefe;;
    
    }
}