.collections-filter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .collections-filter__img{
        display: flex;
        justify-content: center;
        padding:10px ;
    }
}
.collections-listing__tittle{
margin:20px ;
}