/* header */

header{
  position: fixed;
  width: 100%;
  z-index: 5;
  .nav__logo {
    display: flex;
    align-items: center;
  }
  .most-special{
    text-align: center;
    font-weight: 600;
    background-color: #f9f86c;
    margin-bottom: 0;
    line-height:30px ;
  }
  
  .nav {
    background-color: rgb(205, 236, 236);
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin:0 auto ;
    position:relative;
    
    .nav__logo img {
      width: 100px;
      height: 40px;
      padding-top: 5px;
    }
    .navbar>ul {
      margin: 10px 0 0px 0;
      display: flex;
      justify-content: space-between;  
      list-style-type: none;
      padding: 0;
    } 
     
    .navbar{
      .navbar-tittle{
        position:relative;
        
      }
       
        a {
          text-decoration: none;
          padding: 0 10px;
          color: rgb(8, 8, 8);
          font-weight: 500;
          
        }
        .navbar-tittle :hover {
          color: #2f42e8;
        }
      .navbar-tittle:hover .menu__dropdown {
        display: flex;
      }
      
      .menu__dropdown {
        display: none;
        position:fixed;
        background-color: rgb(255, 255, 255);
        width: 100vw;
        left: 0;
        z-index: 5;
        margin-top: 8px;
        padding: 10px;
        justify-content: space-evenly;
          .menu--second__title {
            color: rgb(0, 0, 0);
            font-weight: 600;
            font-size:22px ;
            
          }
          
          .menu-3th {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: auto;
              .menu-3th__tittle {
                font-weight: 600;
                display: flex;
                flex-direction: column;
                .menu-3th__name{
                  display: flex;
                  font-size: 18px;
                  .menu-3th__content{
                    font-size: 20px;
                  }
                  .menu-3th__attention{
                    border-radius: 5px;
                    padding: 0 10px;
                    color: #110101;
                  }
                  .hot {
                    background-color: #e21c16;
                    
                  }
                  .sale {
                    background-color: rgb(57, 199, 49);
                    
                  }
                  .new {
                    background-color: aqua;
                    
                  }
                }
                .menu-3th__explain{
                    font-size: 13px;
                    color: #362c2c;
                  
                }
      
                
              }
              
            }
          .menu-4th{
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0 8px;
            .menu-4th__tittle{
              font-size: 17px;
            }
          }
            
          }
          
          .about-cool{     
            display: flex;
            justify-content: space-evenly;
              padding-top:20px ;
              color: black;
          
          
            .container-about-cool{
              color: black;
              
              img{
                  width: 100%;
                  border-radius: 20px;
              }
              .container-child{
                margin:10px ;
                .container-child__title{
                  font-weight: 600;
                  margin: 10px 0;
              }
              p{
                  font-size: 16px;
              }
            }
              }
              
              
            
          }
        
      
      .menu__space{
        background-color: rgb(205, 236, 236);
        position: absolute;
        width: 100px;
        z-index: 1;
        margin: -5px -50px 0 0;

      }
    }
    .nav-right{
      display: flex;
      align-items: center;
      align-content: center;
      gap: 10px;
      
      button {
        border: none;
        padding:5px 10px ;
        background-color:  rgb(205, 236, 236);
       
      } 
      button:hover{
        background-color: rgb(72, 72, 211);
       }
      .cart-product{
        position: relative;
        .quantity-product{
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          position: absolute;
          right: -5px;
          top: 0;
          width: 18px;
          height: 18px;
          background-color: #2f5acf;
          color: #fff;
          font-size: 10px;
          font-weight: 700;
          pointer-events: none;
          
        }
      }

      
    }
    
   
  }
}

  
  
  //login//
  .card-login{    
    .content-login{
      margin: 20px;
    }

  }
  .login-top{
    padding:20px 20px 0 20px ;
    .login-title{
      display: flex;
      justify-content: space-between;
      .title{
        color: blue;
      }
      .close-button{        
        background-color: rgb(245, 237, 237);
        
      }
      .close-button:hover{background-color: #ff0c04;}
    }
    .form{
      display: flex;
    }
  }
  .form-login{
    display: flex;
    flex-direction: column;
    padding:20px 20px 30px 20px ;
    gap:20px ;  
    align-items: center;
    
  }
  .login-input{
    border-radius: 10px;
    padding:7px ;
    font-size:18px ;
    width:100% ;
  }
  .button-login{
    font-size: 20px;
    width:40% ;
    border-radius:10px ;
    background-color: blue;
    color: aliceblue;
  }

  .button-login--now{
    color: #2f42e8;
    border: none;
    background-color:var(--bs-body-bg); ;
  }

//seach//

.container-seach{
  margin: 0 auto;
  margin-top: -40px;
  width: 38%;
  
  .nav-seach{
    display: flex;
    justify-content: center;
    justify-content: space-between;
   
    input{
      max-width: 800px;
      width: 85%;
      border-radius: 10px ;
      padding-left: 20px;
      background-color: white;
    }
    button{
      margin-left: 10px;
      text-decoration: none;
      background-color: #f46874;
      color: white;
      padding:5px 10px ;
      border-radius:10px ;
      
    }
    a:hover{
      background-color:#e21c16 ;
    }
  }
 
  .seach-products{
    display: flex;  
    flex-direction: column; 
    background-color: white;
    margin-top:20px ;
    max-width: 800px;
    width: 85%;
    padding: 20px;
    border-radius: 30px;
    button{
      background-color: white;
      color: #2f42e8;
      border: none;
    }
    .product{

      display:flex;
      max-width: 800px;     
      gap: 10px;
      border-radius: 20px;
      padding-bottom: 0px;
      margin:10px 0 0 0 ;
      padding-left: 10px;

      .product-img{
        width:10% ;
        img{
        width: 100%;
        border-radius:10px ;
        height: 50px;
        }
      }
      .product-title{
        font-size: 15px;
        font-weight: 500;
      }
      .product-pice{
        display: flex;
        gap: 20px;
        .pice{
          text-decoration:line-through;
          color: rgb(157, 149, 149)5, 66, 66;
        }
        .pice-sale{
          color: red;
        }
      }

    }
    
  }
  
  
}
.show-nav-seach{
  margin-top: 10px;
}



.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.icon_close{
  float: right;
  margin-right: 20px;
}
.modal_overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal_body{
  width: 40%;
  margin: auto;
  position: relative;
  background-color: white;
  z-index: 1;
  border-radius: 20px;
}
.title_content_login{
 display: flex;
 justify-content: center;
 font-size: 30px;
 margin-top: 20px;
}
.describe_title{
 font-size: 13px;
 font-weight: 500;
 text-align: center;
}
.account{
  margin: 20px 20px;
  display: flex;
  justify-content: center;
}
.input_account{
  width: 90%;
  height: 40px;
  outline: none;
  border-radius: 15px;
  border: 1px solid rgb(201, 194, 194);
  padding: 0 20px;
}
.text_button_login{
  width: 85%;
  height: 40px;
  outline: none;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: black;
  color: white;
}
.button_login{
  display: flex;
  justify-content: center;
}
.or{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.login_facebook{
  width: 85%;
  height: 40px;
  outline: none;
  border-radius: 15px;
  border: 1px solid gray;
  color: white;
  background-color: rgb(127, 149, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_login_facebook{
  display: flex;
  justify-content: center;
}
.text_login{
  display: flex;
  justify-content: center;
  margin: auto 20px;
}
.login_Google{
  width: 85%;
  height: 40px;
  outline: none;
  border-radius: 15px;
  border: 1px solid gray;
  color: black;
  justify-content: center;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.button_login_google{
  display: flex;
  justify-content: center;
}
.icon_login{
  margin: 0 10px;
}
.footer_login{
  display: flex;
  justify-content: space-around;
}
.new_account{
  color: blue;
}

/* search */
.hide{
  display: none;
}
.show{
  display: block;
}

